<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class="btn-group" role="group" aria-label="...">
			<a ng-repeat="item in menu" ng-class="{active: isActive(item.link)}" class="btn btn-default" ng-show="!item.click" ng-href="{{item.link}}">
				{{item.title}}
			</a>
        </div>
	</div>
</div>
	<div class="row">
		<div class="col-md-12">
			<h2>This is the Charities view.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<cardflow>
				<div class="cardflow-card" ng-repeat="charity in charities">
		            <div ng-class="charity.name" class="charity">
		            	<div class=""><div class="">{{charity.name}}</div></div>
		            	<div class=""><div class=""><img class="img-responsive" ng-src="images/{{charity.photo}}"></div></div>
		            	<div class="">
							<div class="button left">
								<a class="btn btn-success" href="#" role="button">Support</a>
							</div>
							<div class="button right">
								<a class="btn btn-danger" href="#" role="button">Kick to the Curb.</a>
							</div>
						</div>
		            </div>
		        </div>
			</cardflow>
		</div>
	</div>
</div>
