<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class="btn-group" role="group" aria-label="...">
			<a ng-repeat="item in menu" ng-class="{active: isActive(item.link)}" class="btn btn-default" ng-show="!item.click" ng-href="{{item.link}}">
				{{item.title}}
			</a>
        </div>
	</div>
</div>
	<div class="row">
		<div class="col-md-12">
			<h2>This is the Charities view.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<cardflow>
				<div class="cardflow-card" ng-repeat="charity in charities">
		            <div ng-class="charity.name" class="charity">
		            	<!-- <div class="">{{charity.name}}</div> -->
		            	<div class=""><img class="img-responsive" ng-src="images/{{charity.photo}}"></div>

									<span class="button-wrap">
										<a class="btn btn-success left" href="#" role="button">Support</a>
										<a class="btn btn-danger right" href="#" role="button">Kick to the Curb.</a>
									</span>

		            </div>
		    </div>
			</cardflow>
		</div>
	</div>
</div>
