<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>User Login</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div flash-alert="success" active-class="in" class="alert fade">
        <strong class="alert-heading">Congrats!</strong>
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <div flash-alert="error" active-class="in" class="alert fade">
        <strong class="alert-heading">Boo!</strong>
        <span class="alert-message">{{flash.message}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" ng-hide="accepted" ng-submit="submit()">

      <div class="form-group">
        <label for="spEmail" class="col-xs-12 col-sm-4 control-label">Email</label>
        <div class="col-xs-12 col-sm-4">
          <input class="form-control" id="spUsername" ng-model="formModel.email" placeholder="Username or Email" ng-disabled="posting">
        </div>
      </div>
      <div class="form-group">
        <label for="spPassword" class="col-xs-12 col-sm-4 control-label">Password</label>
        <div class="col-xs-12 col-sm-4">
          <input type="password" class="form-control" id="spPassword" ng-model="formModel.password" placeholder="Password" ng-disabled="posting">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <p class="text-danger" ng-show="error" ng-bind="error"></p>
          <input class="btn btn-default" type="button" ng-click="submit(formModel)" ng-disabled="creating" value="Submit" />
          <a ui-sref="passwordResetRequest" class="pull-right">Forgot Password</a>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <p>No account? <a ng-href="/register">Register for one now.</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
